.index_wrap {
  width: 100%; }

.banner {
  position: relative;
  max-width: 100%;
  height: 560px;
  color: #fff; }
  .banner .slide-imgs {
    position: relative;
    width: 100%;
    height: 100%; }
    .banner .slide-imgs img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity .5s; }
      .banner .slide-imgs img.banner-img2 {
        opacity: 1; }
    .banner .slide-imgs .center {
      width: 100%;
      position: absolute;
      top: 217px;
      text-align: center; }
      .banner .slide-imgs .center p:nth-child(1) {
        font-size: 30px;
        font-weight: bold; }
      .banner .slide-imgs .center p:nth-child(2) {
        font-size: 20px; }
  .banner .menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 40px;
    padding: 0px 165px;
    box-sizing: border-box; }
    .banner .menu img {
      width: 190px;
      height: 28px; }
    .banner .menu ul {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      height: 28px;
      font-size: 14px;
      list-style: none; }
      .banner .menu ul li {
        margin-left: 43px; }
        .banner .menu ul li a {
          color: #fff;
          text-decoration: none; }
          .banner .menu ul li a:hover {
            color: darkcyan; }
  .banner .silde-text-box {
    width: 100%;
    position: absolute;
    top: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 96px;
    padding: 0 150px;
    box-sizing: border-box; }
    .banner .silde-text-box span {
      display: inline-block;
      width: 44px;
      height: 44px;
      text-align: center;
      line-height: 40px;
      border: 2px solid #709dca;
      border-radius: 50%;
      color: #ffc155;
      font-size: 24px;
      cursor: pointer; }
  .banner .bottom {
    width: 100%;
    position: absolute;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .banner .bottom .btn {
      padding: 17px 23px;
      font-size: 17px;
      font-weight: bold;
      border-radius: 5px;
      margin-bottom: 36px;
      background: #709dca; }
    .banner .bottom .dots {
      width: 100px;
      height: 26px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .banner .bottom .dots span {
        position: relative;
        width: 26px;
        height: 26px;
        line-height: 18px;
        text-align: center;
        font-size: 65px;
        display: inline-block;
        border-radius: 50%;
        border: 1px solid transparent; }
        .banner .bottom .dots span::after {
          display: inline-block;
          content: ' ';
          width: 9px;
          height: 9px;
          background: #fff;
          border-radius: 50%;
          position: absolute;
          left: 9px;
          top: 9px; }
        .banner .bottom .dots span.border {
          border-color: #fff; }
