.index_wrap {
  width: 100%; }

.banner {
  position: relative;
  max-width: 100%;
  height: 560px;
  color: #fff; }
  .banner .slide-imgs {
    position: relative;
    width: 100%;
    height: 100%; }
    .banner .slide-imgs img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity .5s; }
      .banner .slide-imgs img.banner-img2 {
        opacity: 1; }
    .banner .slide-imgs .center {
      width: 100%;
      position: absolute;
      top: 217px;
      text-align: center; }
      .banner .slide-imgs .center div {
        position: relative;
        z-index: 1; }
        .banner .slide-imgs .center div p:nth-child(1) {
          font-size: 30px;
          font-weight: bold; }
        .banner .slide-imgs .center div p:nth-child(2) {
          font-size: 20px; }
  .banner .menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 40px;
    padding: 0px 165px;
    box-sizing: border-box; }
    .banner .menu img {
      width: 190px;
      height: 28px; }
    .banner .menu ul {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      height: 28px;
      font-size: 14px;
      list-style: none; }
      .banner .menu ul li {
        margin-left: 43px; }
        .banner .menu ul li a {
          color: #fff;
          text-decoration: none; }
          .banner .menu ul li a:hover {
            color: darkcyan; }
  .banner .silde-text-box {
    width: 100%;
    position: absolute;
    top: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 96px;
    padding: 0 150px;
    box-sizing: border-box;
    z-index: 2; }
    .banner .silde-text-box span {
      display: inline-block;
      width: 44px;
      height: 44px;
      text-align: center;
      line-height: 40px;
      border: 2px solid #709dca;
      border-radius: 50%;
      color: #ffc155;
      font-size: 24px;
      cursor: pointer; }
  .banner .bottom {
    width: 100%;
    position: absolute;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .banner .bottom .btn {
      padding: 17px 23px;
      font-size: 17px;
      font-weight: bold;
      border-radius: 5px;
      margin-bottom: 36px;
      background: #709dca; }
    .banner .bottom .dots {
      width: 100px;
      height: 26px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .banner .bottom .dots span {
        position: relative;
        width: 26px;
        height: 26px;
        line-height: 18px;
        text-align: center;
        font-size: 65px;
        display: inline-block;
        border-radius: 50%;
        border: 1px solid transparent; }
        .banner .bottom .dots span::after {
          display: inline-block;
          content: ' ';
          width: 9px;
          height: 9px;
          background: #fff;
          border-radius: 50%;
          position: absolute;
          left: 9px;
          top: 9px; }
        .banner .bottom .dots span.border {
          border-color: #fff; }

.content1 {
  background: #fff;
  padding: 83px 195px 0px 195px; }
  .content1 .title {
    text-align: center;
    margin-bottom: 85px; }
    .content1 .title p:nth-child(1) {
      font-size: 26px;
      color: #709dca;
      margin-bottom: 10px; }
    .content1 .title p:nth-child(2) {
      font-size: 16px;
      color: #394b50; }
  .content1 .tips-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .content1 .tips-box .tip {
      width: 514px;
      height: 92px;
      padding-left: 56px;
      margin-bottom: 80px;
      box-sizing: border-box;
      background-size: 32px 34px; }
      .content1 .tips-box .tip p:nth-child(1) {
        font-size: 16px;
        color: #394b50;
        font-weight: bold;
        margin-bottom: 10px; }
      .content1 .tips-box .tip p:nth-child(2) {
        font-size: 13px;
        color: #7b7b7b; }
      .content1 .tips-box .tip.back-img:nth-child(1) {
        background: url("../imgs/Tools.png") no-repeat; }
      .content1 .tips-box .tip.back-img:nth-child(2) {
        background: url("../imgs/Basket-loaded.png") no-repeat; }
      .content1 .tips-box .tip.back-img:nth-child(3) {
        background: url("../imgs/Layers.png") no-repeat; }
      .content1 .tips-box .tip.back-img:nth-child(4) {
        background: url("../imgs/Analytics.png") no-repeat; }
      .content1 .tips-box .tip.back-img:nth-child(5) {
        background: url("../imgs/Gauge.png") no-repeat; }
      .content1 .tips-box .tip.back-img:nth-child(6) {
        background: url("../imgs/Globe2.png") no-repeat; }

.content2 {
  display: flex;
  height: 624px; }
  .content2 img {
    width: 50%;
    height: 100%; }
  .content2 .intro {
    width: 50%;
    height: 100%;
    padding: 95px 80px;
    box-sizing: border-box;
    color: #fff;
    font-size: 13px;
    background: #ffc155; }
    .content2 .intro p {
      margin-bottom: 38px;
      line-height: 30px; }
      .content2 .intro p:nth-child(1) {
        font-size: 26px; }
    .content2 .intro .more-btn {
      display: inline-block;
      padding: 15px 33px;
      box-sizing: border-box;
      border: 1px solid #cb8d21;
      font-size: 14px;
      background: #e7ad48; }

.content3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 300px 40px;
  box-sizing: border-box;
  text-align: center;
  background: #fff; }
  .content3 p {
    font-size: 16px;
    color: #062033;
    line-height: 26px;
    margin-bottom: 30px; }
  .content3 p:nth-child(1) {
    line-height: 0px;
    font-size: 26px;
    color: #709dca; }
  .content3 .icon-box {
    position: relative;
    text-align: center;
    width: 224px;
    height: 20px;
    margin-bottom: 20px; }
    .content3 .icon-box img {
      width: 20px;
      background: #fff;
      z-index: 1;
      position: relative;
      border-left: 10px solid #fff;
      border-right: 10px solid #fff; }
    .content3 .icon-box::after {
      position: absolute;
      bottom: 10px;
      left: 10px;
      content: ' ';
      display: block;
      width: 224px;
      height: 1px;
      background-color: #ffc155; }
  .content3 ul {
    display: flex;
    justify-content: space-between;
    width: 560px;
    list-style: none; }
    .content3 ul li {
      cursor: pointer;
      padding: 5px 20px;
      box-sizing: border-box; }
      .content3 ul li.back {
        background: #709dca;
        border-radius: 5px;
        color: #fff; }

.content4 {
  display: flex;
  flex-wrap: wrap; }
  .content4 img {
    width: 100%;
    display: block; }
  @media screen and (min-width: 960px) {
    .content4 > div {
      width: 50%; } }
  @media screen and (min-width: 1280px) {
    .content4 > div {
      width: 33.33%; } }
  @media screen and (min-width: 1600px) {
    .content4 > div {
      width: 25%; } }

.content5 {
  padding: 100px 230px 40px; }
  .content5 .testimonial {
    display: flex;
    justify-content: space-between;
    margin: 50px 0 38px 0; }
    .content5 .testimonial .each-box {
      position: relative;
      font-size: 13px;
      width: 45%;
      text-align: left; }
      .content5 .testimonial .each-box .usertext-box {
        display: inline-block;
        padding: 29px 24px;
        margin-bottom: 30px;
        color: #747474;
        line-height: 20px;
        background: #f6f3f3; }
        .content5 .testimonial .each-box .usertext-box::after {
          content: ' ';
          position: absolute;
          bottom: 25px;
          left: 30px;
          width: 0;
          height: 0;
          border-width: 20px 15px 0 0;
          border-style: solid;
          border-color: #f6f3f3 transparent; }
      .content5 .testimonial .each-box .user-name {
        padding-left: 40px;
        color: #4d4e50;
        background: url("../imgs/icon-user.png") no-repeat;
        background-size: 30px 30px;
        padding-top: 13px;
        min-height: 30px; }
        .content5 .testimonial .each-box .user-name span {
          font-weight: bold; }
  .content5 ul {
    width: 66px;
    display: flex;
    justify-content: space-between; }
    .content5 ul li {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #d4d3d4;
      padding: 0; }
    .content5 ul .active {
      border: 2px solid #709dca;
      background: #fff; }

.content6 {
  display: flex;
  justify-content: space-between;
  padding: 70px 165px;
  box-sizing: border-box;
  font-size: 14px;
  color: #c3c3c3;
  background: #273a43; }
  .content6 .info {
    width: 270px; }
    .content6 .info .name {
      color: #fff;
      font-size: 22px;
      margin-bottom: 20px; }
    .content6 .info .info-text {
      line-height: 25px; }
      .content6 .info .info-text span {
        display: inline-block;
        background: url("../imgs/icon-bird.png") no-repeat 5px 10px;
        padding-left: 35px; }
      .content6 .info .info-text p {
        padding-left: 35px;
        color: #71b6d5; }
    .content6 .info .address-box span {
      display: block;
      color: #fff;
      margin-top: 15px;
      padding-left: 30px; }
      .content6 .info .address-box span.locat {
        background: url("../imgs/icon-location.png") no-repeat 5px;
        background-size: auto 100%; }
      .content6 .info .address-box span.mess {
        background: url("../imgs/icon-message.png") no-repeat; }
      .content6 .info .address-box span.phone {
        background: url("../imgs/icon-phone.png") no-repeat 3px; }
    .content6 .info .submit {
      margin-top: 37px; }
      .content6 .info .submit input {
        color: #fff;
        height: 34px;
        background: #172227;
        border: none;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        padding-left: 10px; }
      .content6 .info .submit button {
        background: #71b6d5;
        border: none;
        color: #fff;
        padding: 10px 15px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        margin-left: -4px; }

.footer {
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
  box-sizing: border-box;
  background: #172227; }
  .footer p {
    color: #c4c4c4;
    font-size: 14px; }
  .footer .icon-box span {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    overflow: hidden; }
    .footer .icon-box span:nth-child(1) {
      background: url("../imgs/icon-bird-w.png") no-repeat #71b6d5 50% 50%; }
    .footer .icon-box span:nth-child(2), .footer .icon-box span:nth-child(3) {
      color: #fff;
      font-weight: bold;
      background: #2c3b42; }
