.index_wrap {
  width: 100%;
}
.banner {
    position: relative;
    max-width: 100%;
    height: 5.6rem;
    color: #fff;
    .slide-imgs {
      position: relative;
      width: 100%;
      height: 100%;
      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity .5s;
        &.banner-img2 {
          opacity: 1;
        }
      }
      .center {
        width: 100%;
        position: absolute;
        top: 2.17rem;
        text-align: center;
        div {
          position: relative;
          z-index: 1;
          p:nth-child(1) {
            font-size: 0.3rem;
            font-weight: bold;
          }
          p:nth-child(2) {
            font-size: 0.2rem;
          }
        }
      }
    }
    .menu {
      width: 100%;
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 0.4rem;
      padding: 0rem 1.65rem;
      box-sizing: border-box;
        img {
          width: 1.9rem;
          height: 0.28rem;
        }
        ul {
          display: flex;
          justify-content: flex-end;
          width: 100%;
          height: 0.28rem;
          font-size: 0.14rem;
          list-style:none;
        li {
          margin-left: 0.43rem;
          a {
            color: #fff;
            text-decoration: none;
            &:hover {
              color: darkcyan;
            }
          }
        }
      }
    }
    .silde-text-box {
      width: 100%;
      position: absolute;
      top: 3rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.96rem;
      padding: 0 1.5rem;
      box-sizing: border-box;
      z-index: 2;
      span {
        display: inline-block;
        width: 0.44rem;
        height: 0.44rem;
        text-align: center;
        line-height: 0.4rem;
        border: 2px solid #709dca;
        border-radius: 50%;
        color: #ffc155;
        font-size: 0.24rem;
        cursor: pointer;
      }
    }
    .bottom {
      width: 100%;
      position: absolute;
      bottom: 0.3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .btn {
        padding: 0.17rem 0.23rem;
        font-size: 0.17rem;
        font-weight: bold;
        border-radius: 5px;
        margin-bottom: 0.36rem;
        background: #709dca;
      }
      .dots {
        width: 1rem;
        height: 0.26rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
          position: relative;
          width: 0.26rem;
          height: 0.26rem;
          line-height: 0.18rem;
          text-align: center;
          font-size: 0.65rem;
          display: inline-block;
          border-radius: 50%;
          border: 1px solid transparent;
          &::after {
            display: inline-block;
            content: ' ';
            width: 0.09rem;
            height: 0.09rem;
            background: #fff;
            border-radius: 50%;
            position: absolute;
            left: 0.09rem;
            top: 0.09rem;
          }
          &.border {
            border-color: #fff;
          }
        }
      }
    }
}
.content1 {
  background: #fff;
  padding: 0.83rem 1.95rem 0rem 1.95rem;
  .title {
    text-align: center;
    margin-bottom: 0.85rem;
    p:nth-child(1) {
      font-size: 0.26rem;
      color: #709dca;
      margin-bottom: 0.1rem;
    }
    p:nth-child(2) {
      font-size: 0.16rem;
      color: #394b50;
    }
  }
  .tips-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .tip {
      width: 5.14rem;
      height: 0.92rem;
      padding-left: 0.56rem;
      margin-bottom: 0.8rem;
      box-sizing: border-box;
      background-size: 0.32rem 0.34rem;
      p:nth-child(1) {
        font-size: 0.16rem;
        color: #394b50;
        font-weight: bold;
        margin-bottom: 0.1rem;
      }
      p:nth-child(2) {
        font-size: 0.13rem;
        color: #7b7b7b;
      }
      &.back-img:nth-child(1) {
        background: url('../imgs/Tools.png') no-repeat;
      }
      &.back-img:nth-child(2) {
        background: url('../imgs/Basket-loaded.png') no-repeat;
      }
      &.back-img:nth-child(3) {
        background: url('../imgs/Layers.png') no-repeat;
      }
      &.back-img:nth-child(4) {
        background: url('../imgs/Analytics.png') no-repeat;
      }
      &.back-img:nth-child(5) {
        background: url('../imgs/Gauge.png') no-repeat;
      }
      &.back-img:nth-child(6) {
        background: url('../imgs/Globe2.png') no-repeat;
      }
    }
  }
}
.content2 {
  display: flex;
  height: 6.24rem;
  img {
    width: 50%;
    height: 100%;
  }
  .intro {
    width: 50%;
    height: 100%;
    padding: 0.95rem 0.8rem;
    box-sizing: border-box;
    color: #fff;
    font-size: 0.13rem;
    background: #ffc155;
    p {
      margin-bottom: 0.38rem;
      line-height: 0.3rem;
      &:nth-child(1) {
        font-size: 0.26rem;
      }
    }
    .more-btn {
      display: inline-block;
      padding: 0.15rem 0.33rem;
      box-sizing: border-box;
      border: 1px solid #cb8d21;
      font-size: 14px;
      background: #e7ad48;
    }
  }
}
.content3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 3rem 0.4rem;
  box-sizing: border-box;
  text-align: center;
  background: #fff;
  p {
    font-size: 0.16rem;
    color: #062033;
    line-height: 0.26rem;
    margin-bottom: 0.3rem;
  }
  p:nth-child(1) {
    line-height: 0px;
    font-size: 0.26rem;
    color: #709dca;
  }
  .icon-box {
    position: relative;
    text-align: center;
    width: 2.24rem;
    height: 0.2rem;
    margin-bottom: 0.2rem;
    img {
      width: 0.2rem;
      background: #fff;
      z-index: 1;
      position: absolute;
      border-left: 10px solid #fff;
      border-right: 10px solid #fff;
    }
    &::after {
      position: absolute;
      bottom: 0.1rem;
      left: 0.1rem;
      content: ' ';
      display: block;
      width: 2.24rem;
      height: 1px;
      background-color: #ffc155;
    }
  }
  ul {
    display: flex;
    justify-content: space-between;
    width: 5.6rem;
    list-style:none;
    li {
      font-size: 0.15rem;
      cursor: pointer;
      padding: 5px 20px;
      box-sizing: border-box;
      &.back {
        background: #709dca;
        border-radius: 5px;
        color: #fff;
      }
    }
  }
}
.content4 {
  display: flex;
  flex-wrap: wrap;
  img {
    width: 100%;
    display: block;
  }
  @media screen and (min-width: 9.6rem) {
    >div {
      width: 50%;
    }
  }
  @media screen and (min-width: 12.8rem) {
    >div {
      width: 33.33%;
    }
  }
  @media screen and (min-width: 16rem) {
    >div {
      width: 25%;
    }
  }
}
.content5 {
  padding: 1rem 2.3rem 0.4rem;
  .testimonial {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0 0.38rem 0;
    .each-box {
      position: relative;
      font-size: 13px;
      width: 45%;
      text-align: left;
      .usertext-box {
        display: inline-block;
        padding: 0.29rem 0.24rem;
        margin-bottom: 0.3rem;
        color: #747474;
        line-height: 0.2rem;
        background: #f6f3f3;
        &::after {
          content: ' ';
          position: absolute;
          bottom: 0.25rem;
          left: 0.3rem;
          width:0;
          height:0;
          border-width: 20px 15px 0 0 ;
          border-style: solid;
          border-color:#f6f3f3 transparent ;
        }
      }
      .user-name {
        padding-left: 0.4rem;
        color: #4d4e50;
        background: url('../imgs/icon-user.png') no-repeat;
        background-size: 0.3rem 0.3rem;
        padding-top: 0.13rem;
        min-height: 0.3rem;
        span {
          font-weight: bold;
        }
      }
    }
  }
  ul {
    width: 0.66rem;
    display: flex;
    justify-content: space-between;
    li {
      width: 0.1rem;
      height: 0.1rem;
      border-radius: 50%;
      background: #d4d3d4;
      padding: 0;
    }
    .active {
      border: 2px solid #709dca;
      background: #fff;
    }
  }
}
.content6 {
  display: flex;
  justify-content: space-between;
  padding: 0.7rem 1.65rem;
  box-sizing: border-box;
  font-size: 14px;
  color: #c3c3c3;
  background: #273a43;
  .info {
    width: 2.7rem;
    .name {
      color: #fff;
      font-size: 22px;
      margin-bottom: 0.2rem;
    }
    .info-text {
      line-height: 0.25rem;
      span {
        display: inline-block;
        background: url('../imgs/icon-bird.png') no-repeat 5px 10px;
        padding-left: 0.35rem;
      }
      p {
        padding-left: 0.35rem;
        color: #71b6d5;
      }
    }
    .address-box {
      span {
        display: block;
        color: #fff;
        margin-top: 0.15rem;
        padding-left: 0.3rem;
        &.locat {
          background: url('../imgs/icon-location.png') no-repeat 5px;
          background-size: auto 100%;
        }
        &.mess {
          background: url('../imgs/icon-message.png') no-repeat;
        }
        &.phone {
          background: url('../imgs/icon-phone.png') no-repeat 3px;
        }
      }
    }
    .submit {
      margin-top: 0.37rem;
      input {
        color: #fff;
        height: 0.34rem;
        background: #172227;
        border: none;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        padding-left: 0.1rem;
      }
      button {
        background: #71b6d5;
        border: none;
        color: #fff;
        padding: 0.1rem 0.15rem;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        margin-left: -0.04rem;
      }
    }
  }
}
.footer {
  display: flex;
  justify-content: space-around;
  padding: 0.4rem 0;
  box-sizing: border-box;
  background: #172227;
  p {
    color: #c4c4c4;
    font-size: 14px;
  }
  .icon-box {
    span {
      width: 0.3rem;
      height: 0.3rem;
      text-align: center;
      line-height: 0.3rem;
      display: inline-block;
      overflow: hidden;
      &:nth-child(1) {
        background: url('../imgs/icon-bird-w.png') no-repeat #71b6d5 50% 50%;
      }
      &:nth-child(2), &:nth-child(3) {
        color: #fff;
        font-weight: bold;
        background: #2c3b42;
      }
    }
  }
}